{% extends "app/layout.html" %}

{% block content %}
<div class="container">
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Hub Westminser<br />
    London, SW1Y 4TE<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hotelsplitter.com">Support@hotelsplitter.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hotelsplitter.com">Marketing@hotelsplitter.com</a>
</address>

{% endblock %}
